.header{
    width:100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
}

.user-state{
    display: flex;
    align-items: center;
}

.logo,
.btn-login,
.btn-logout,
.profile{
    margin: 0 20px 0 20px;

    border: 1px solid blue;
}

.profile{
    display: flex;

    align-items: center;
}

.profile__image > img{
    border-radius: 50%;

    width: 80px;
    height: 80px;
}